html {
    background-color: #edef88;
    font-family: helvetica;
    font-weight: 300;
    font-size: 15px;
    margin-left: 20px;
    color: #666666;

    /* Here's the syntax for adding a background image: */
    /*background-image: url(" [link to image here] ");*/
}

a {
    color: #ecda45; 

}

a:hover {
   text-decoration: none;
}
